#include<stdio.h>
#include<stdlib.h>
int*twoSum(int*nums,intnumsSize,inttarget,int*returnSize){
//双层循环
for(inti=0;i<numsSize;++i){
for(intj=i+1;j<numsSize;++j){
//找到两个元素的和等于target时，记录下它们的下标
if(nums[i]+nums[j]==target){
int*ret=malloc(sizeof(int)*2);
ret[0]=i,ret[1]=j;
*returnSize=2;
returnret;
}
}
}
*returnSize=0;
returnNULL;
}
intmain(intargc,charconst*argv[])
{
/*code*/
intnums[]={2,7,11,15};
inttarget=9;
int*ret;
int*returnSize;
ret=twoSum(nums,4,target,returnSize);
if(ret!=NULL){
printf("[");
for(inti=0;i<*returnSize;i++){
printf("%d,",ret[i]);
}
printf("]\n");
}
return0;
}
